@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "EireneSans";
    src:
        local("Eirene Sans Bold"),
        local("EireneSans-Bold"),
        url("/fonts/EireneSans/EireneSans-Bold.woff2") format("woff2"),
        url("/fonts/EireneSans/EireneSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "EireneSans";
    src:
        local("Eirene Sans Italic"),
        local("EireneSans-Italic"),
        url("/fonts/EireneSans/EireneSans-Italic.woff2") format("woff2"),
        url("/fonts/EireneSans/EireneSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "EireneSans";
    src:
        local("Eirene Sans Bold Italic"),
        local("EireneSans-BoldItalic"),
        url("/fonts/EireneSans/EireneSans-BoldItalic.woff2") format("woff2"),
        url("/fonts/EireneSans/EireneSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "EireneSans";
    src:
        local("Eirene Sans Regular"),
        local("EireneSans-Regular"),
        url("/fonts/EireneSans/EireneSans-Regular.woff2") format("woff2"),
        url("/fonts/EireneSans/EireneSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        @apply bg-primary font-EireneSans text-primary;
    }
}

@layer utilities {
    .border-light {
        @apply border-primary border-primary-900;
    }

    .cover-screen {
        @apply h-screen w-full;
    }

    .x-center,
    .y-center {
        @apply absolute;
    }

    .x-center {
        @apply left-1/2 -translate-x-1/2;
    }

    .y-center {
        @apply top-1/2 -translate-y-1/2;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .text-light {
        @apply text-primary-600;
    }

    .text-bright {
        @apply text-primary-800;
    }
}

@layer components {
    button.primary,
    a.primary,
    button.secondary,
    a.secondary,
    button.primary-dark,
    a.primary-dark {
        @apply px-6 py-3 font-semibold;
    }

    button.primary:has(> img),
    a.primary:has(> img),
    button.secondary:has(> img),
    a.secondary:has(> img),
    button.primary-dark:has(> img),
    a.primary-dark:has(> img) {
        @apply flex-center gap-1.5;
    }

    button.primary img,
    a.primary img,
    button.secondary img,
    a.secondary img,
    button.primary-dark img,
    a.primary-dark img {
        @apply aspect-1 h-7 select-none;
    }

    button.primary,
    a.primary {
        @apply border-light rounded-button bg-button-primary text-primary;
    }

    button.primary-dark,
    a.primary-dark {
        @apply border-light rounded-button bg-primary-500 text-primary;
    }

    input.primary,
    textarea.primary,
    select.primary,
    button[data-input] {
        @apply border-light rounded-button bg-primary-800 px-3 py-2 text-primary placeholder:text-primary-800 focus:border-transparent focus:outline-none focus:ring-1 focus:ring-primary;
    }

    div.primary {
        @apply border-light overflow-hidden rounded-primary bg-primary-700;
    }

    .divider-x,
    .divider-y {
        @apply bg-divider;
    }

    .divider-x {
        height: 2px;
    }

    .divider-y {
        width: 2px;
    }

    .bt-cover {
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: 0% 15%;
        mask-position: 0% 15%;
    }
}
