@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "EireneSans";
    src:
        local("Eirene Sans Bold"),
        local("EireneSans-Bold"),
        url("/fonts/EireneSans/EireneSans-Bold.woff2") format("woff2"),
        url("/fonts/EireneSans/EireneSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "EireneSans";
    src:
        local("Eirene Sans Italic"),
        local("EireneSans-Italic"),
        url("/fonts/EireneSans/EireneSans-Italic.woff2") format("woff2"),
        url("/fonts/EireneSans/EireneSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "EireneSans";
    src:
        local("Eirene Sans Bold Italic"),
        local("EireneSans-BoldItalic"),
        url("/fonts/EireneSans/EireneSans-BoldItalic.woff2") format("woff2"),
        url("/fonts/EireneSans/EireneSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "EireneSans";
    src:
        local("Eirene Sans Regular"),
        local("EireneSans-Regular"),
        url("/fonts/EireneSans/EireneSans-Regular.woff2") format("woff2"),
        url("/fonts/EireneSans/EireneSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Quetine";
    src:
        local("Quetine"),
        url("/fonts/Quetine/Quetine.woff2") format("woff2"),
        url("/fonts/Quetine/Quetine.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        @apply bg-primary font-EireneSans text-primary;
    }

    *::placeholder {
        @apply select-none overflow-visible;
    }

    img {
        @apply pointer-events-none select-none;
    }
}

@layer utilities {
    .cover-screen {
        @apply h-screen w-full;
    }

    .x-center,
    .y-center {
        @apply absolute;
    }

    .x-center {
        @apply left-1/2 -translate-x-1/2;
    }

    .y-center {
        @apply top-1/2 -translate-y-1/2;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .text-light {
        @apply text-primary-600;
    }

    .text-dark {
        @apply text-primary-800;
    }
}

@layer components {
    button.primary,
    a.primary,
    button.secondary,
    a.secondary,
    input.primary,
    textarea.primary,
    select.primary,
    button.input-primary,
    div.input-primary,
    a.navigation-primary,
    button.navigation-primary {
        @apply rounded-button px-3 py-2 text-lg text-primary;
    }

    /* navigation-primary does not have borders! Thats why this statement is seperate. */
    button.primary,
    a.primary,
    input.primary,
    textarea.primary,
    select.primary,
    button.input-primary,
    div.input-primary {
        @apply border border-primary;
    }

    /* Primary button */
    button.primary:has(img),
    a.primary:has(img) {
        @apply flex-center gap-2;
    }

    button.primary,
    a.primary {
        @apply bg-button-primary;
    }

    button.primary img,
    a.primary img {
        @apply size-7;
    }

    /* Secondary button */
    button.secondary,
    a.secondary {
        @apply bg-primary-400 shadow-md;
    }

    /* Navigation button */
    a.navigation-primary,
    button.navigation-primary {
        @apply flex w-full items-center gap-2 transition-colors hover:bg-primary-400;
    }

    a.navigation-primary img,
    button.navigation-primary img,
    button.secondary img,
    a.secondary img {
        @apply size-7;
    }

    /* Primary input */
    input.primary,
    textarea.primary,
    select.primary,
    button.input-primary,
    div.input-primary {
        @apply bg-primary-500 placeholder:text-primary-200 focus:border-transparent focus:outline-none focus:ring-1 focus:ring-focus;
    }

    /* Containers */
    div.primary,
    div.popup {
        @apply overflow-hidden rounded-primary border p-4;
    }

    div.primary {
        @apply border-primary bg-primary-500;
    }

    div.popup {
        @apply absolute z-50 border-primary bg-primary shadow-lg;
    }

    div.list-primary p {
        @apply section-title mb-3;
    }

    div.list-primary ul {
        @apply space-y-2.5;
    }

    /* Text */
    p.section-title {
        @apply text-2xl font-bold;
    }
}
