@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';
@plugin '@tailwindcss/aspect-ratio';

@theme {
    --font-*: initial;
    --font-Eirene-Sans: EireneSans, sans-serif;

    --background-color-primary-50: #fafbfc;
    --background-color-primary-100: #f7f9fa;
    --background-color-primary-200: #f1f4f6;
    --background-color-primary-300: #eaf0f2;
    --background-color-primary-400: #e4ebee;
    --background-color-primary-500: #dee6ea;
    --background-color-primary-600: #d8e1e6;
    --background-color-primary-700: #d1dde2;
    --background-color-primary-800: #cbd8df;
    --background-color-primary-900: #c5d3db;
    --background-color-primary-950: #c2d1d9;
    --background-color-primary: #f7f9fa;

    --background-color-accent-light: #adc2d4;
    --background-color-accent-alert: #f26a63;

    --background-color-button-primary: #5685d6;
    --background-color-button-secondary: #d4d9de;

    --background-color-divider: #e7e7e7;

    --text-color-primary-50: #737373;
    --text-color-primary-100: #6c6c6c;
    --text-color-primary-200: #606060;
    --text-color-primary-300: #535353;
    --text-color-primary-400: #464646;
    --text-color-primary-500: #393939;
    --text-color-primary-600: #2d2d2d;
    --text-color-primary-700: #202020;
    --text-color-primary-800: #131313;
    --text-color-primary-900: #060606;
    --text-color-primary-950: #000000;
    --text-color-primary: #000000;

    --text-color-alert: #f26a63;

    --border-color-primary-50: #cfcfcf;
    --border-color-primary-100: #cbcbcb;
    --border-color-primary-200: #c3c3c3;
    --border-color-primary-300: #bcbcbc;
    --border-color-primary-400: #b4b4b4;
    --border-color-primary-500: #afafaf;
    --border-color-primary-600: #aaaaaa;
    --border-color-primary-700: #a5a5a5;
    --border-color-primary-800: #a0a0a0;
    --border-color-primary-900: #9b9b9b;
    --border-color-primary-950: #989898;
    --border-color-primary: #b4b4b4;

    --border-color-focus: #5685d6;

    --radius-primary: 15px;
    --radius-button: 12.5px;

    --stroke-accent-light: #adc2d4;
}

@layer base {
    @font-face {
        font-family: "EireneSans";
        src:
            local("Eirene Sans Bold"),
            local("EireneSans-Bold"),
            url("/fonts/EireneSans/EireneSans-Bold.woff2") format("woff2"),
            url("/fonts/EireneSans/EireneSans-Bold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "EireneSans";
        src:
            local("Eirene Sans Italic"),
            local("EireneSans-Italic"),
            url("/fonts/EireneSans/EireneSans-Italic.woff2") format("woff2"),
            url("/fonts/EireneSans/EireneSans-Italic.woff") format("woff");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "EireneSans";
        src:
            local("Eirene Sans Bold Italic"),
            local("EireneSans-BoldItalic"),
            url("/fonts/EireneSans/EireneSans-BoldItalic.woff2") format("woff2"),
            url("/fonts/EireneSans/EireneSans-BoldItalic.woff") format("woff");
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "EireneSans";
        src:
            local("Eirene Sans Regular"),
            local("EireneSans-Regular"),
            url("/fonts/EireneSans/EireneSans-Regular.woff2") format("woff2"),
            url("/fonts/EireneSans/EireneSans-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Quetine";
        src:
            local("Quetine"),
            url("/fonts/Quetine/Quetine.woff2") format("woff2"),
            url("/fonts/Quetine/Quetine.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    body {
        @apply bg-primary font-Eirene-Sans text-primary;
    }

    *::placeholder {
        @apply text-primary-50 overflow-visible select-none;
    }

    img {
        @apply pointer-events-none select-none;
    }

    button {
        @apply cursor-pointer;
    }
}

@utility cover-screen {
    @apply h-screen w-full;
}

@utility x-center {
    @apply absolute left-1/2 -translate-x-1/2;
}

@utility y-center {
    @apply absolute top-1/2 -translate-y-1/2;
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@utility text-light {
    @apply text-primary-600;
}

@utility text-dark {
    @apply text-primary-800;
}

@layer components {
    button.button-attention,
    a.button-attention,
    button.button-primary,
    a.button-primary,
    input.input-primary,
    textarea.input-primary,
    select.input-primary,
    button.input-primary,
    div.input-primary,
    input.input-secondary,
    textarea.input-secondary,
    select.input-secondary,
    button.input-secondary,
    div.input-secondary,
    a.button-navigation,
    button.button-navigation {
        @apply rounded-button border-primary text-primary border px-3 py-2 text-lg transition-all duration-200 disabled:pointer-events-none disabled:opacity-50 disabled:select-none;
    }

    a.button-navigation img,
    button.button-navigation img,
    button.button-primary img,
    a.button-primary img,
    button.button-attention img,
    a.button-attention img,
    a.button-icon img,
    button.button-icon img {
        @apply size-7;
    }

    button.button-attention,
    a.button-attention,
    button.button-primary,
    a.button-primary {
        @apply shadow-md hover:shadow-sm;
    }

    button.button-attention,
    a.button-attention {
        @apply bg-button-primary;
    }

    button.button-attention:has(img),
    a.button-attention:has(img),
    button.button-primary:has(img),
    a.button-primary:has(img) {
        @apply flex-center gap-2;
    }

    button.button-primary,
    a.button-primary {
        @apply bg-primary-300 hover:bg-primary-400 !border-none;
    }

    a.button-navigation,
    button.button-navigation {
        @apply hover:bg-primary-400 flex w-full items-center gap-2 !border-none text-nowrap;
    }

    a.button-icon,
    button.button-icon {
        @apply hover:bg-primary-400 rounded-full bg-transparent p-2 transition-colors duration-200;
    }

    input.input-primary,
    textarea.input-primary,
    select.input-primary,
    button.input-primary,
    div.input-primary,
    input.input-secondary,
    textarea.input-secondary,
    select.input-secondary,
    button.input-secondary,
    div.input-secondary {
        @apply focus:border-focus flex items-center gap-1 outline-none focus:border focus:ring-0;
    }

    input.input-primary,
    textarea.input-primary,
    select.input-primary,
    button.input-primary,
    div.input-primary {
        @apply bg-primary-200;
    }

    input.input-secondary,
    textarea.input-secondary,
    select.input-secondary,
    button.input-secondary,
    div.input-secondary {
        @apply bg-primary-400;
    }

    /* Containers */
    div.container-primary,
    div.container-popup {
        @apply rounded-primary border-primary overflow-hidden border p-4;
    }

    div.container-primary {
        @apply bg-primary-200;
    }

    div.container-popup {
        @apply bg-primary absolute z-50 shadow-lg;
    }

    div.list-primary p.list-title {
        @apply text-light mb-3 text-xl font-bold;
    }

    div.list-primary,
    div.list-primary ul.list {
        @apply w-full;
    }

    div.list-primary ul.list.flex-col {
        @apply space-y-2.5;
    }

    div.list-primary ul.list.flex:not(.flex-row),
    div.list-primary ul.list.grid {
        @apply flex-wrap gap-4;
    }

    /* Text */
    div.page-title p {
        @apply text-light text-xl leading-tight;
    }

    h1.page-title,
    div.page-title h1 {
        @apply text-3xl leading-none font-bold md:text-5xl;
    }

    div.page-message {
        @apply mb-7;
    }

    div.page-message p:nth-of-type(1) {
        @apply text-4xl font-bold;
    }

    div.page-message p:nth-of-type(2) {
        @apply text-light text-xl;
    }
}
